.logo {
  background-image: url(https://uconnladybug.files.wordpress.com/2012/10/eye-of-red-tail-paw-org1.jpg);
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.submit {
  /*background-color: blue;*/
}
