{% extends 'base.html' %}
{% load static %}

{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

    {% block content %}
    <br>
    <h2 align="center"><b>Job Statistics Portal - Glassdoor</b></h2><br><br>
    <h3 align="center">General Statistics</h3> <br><br>   
    
    <div class="container">
            <div class="row">
                    <div class="col-sm-6">
                        <div class="row" style="border: 1px solid black">
                            {# <div id="plot_container" class="col-md-6">{{plot1|safe}}</div>#}
                            <div class="col-md-6">{{plot1|safe}}</div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                            <div class="row" style="border: 1px solid black">
                                {# <div id="plot_container" class="col-md-6">{{plot2|safe}}</div>#}
                                <div class="col-md-6">{{plot2|safe}}</div>
                            </div>
                    </div>
            </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
                <div class="col-sm-6">
                    <div class="row" style="border: 1px solid black">
                        {# <div id="plot_container" class="col-md-6">{{plot3|safe}}</div>#}
                        <div class="col-md-6">{{plot3|safe}}</div>
                    </div>
                </div>

                <div class="col-sm-6">
                        <div class="row" style="border: 1px solid black">
                            {# <div id="plot_container" class="col-md-6">{{plot4|safe}}</div>#}
                            <div class="col-md-6">{{plot4|safe}}</div>
                        </div>
                </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
                <div class="col-sm-6">
                    <div class="row" style="border: 1px solid black">
                        {# <div id="plot_container" class="col-md-6">{{plot5|safe}}</div>#}
                        <div class="col-md-6">{{plot5|safe}}</div>
                    </div>
                </div>
        </div>
    </div>

    {% endblock %}

    <div class="footer-basic">
        <footer>
            
        </footer>
    </div>